/*********      POSITIONING    ********/
.flex-row { 
    display: flex;
    justify-content: center;
    align-items: center;
 }

.max-w {
    width: 100%;
    max-width: 1200px;
}

 /*********      TYPOGRAPHY     ********/
 
 * {
     text-align: center;
 }

.fnt-xxs { font-size: 0.5rem; }
.fnt-xs { font-size: 0.75rem; }
.fnt-sm { font-size: 1rem; }
.fnt-md { font-size: 1.33333rem; }
.fnt-lg { font-size: 1.8333rem; }
.fnt-xl { font-size: 2.16667rem; }
.fnt-xxl { font-size: 3rem; }
.fnt-xxxl { font-size: 4rem; }

.fnt-bold { font-weight: bold;}
.fnt-italic { font-style: italic;}


/****** GOOGLE MATERIALS ICONS   ********/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 { font-size: 64px; }
.material-icons.md-96 { font-size: 96px; }



/*******  ESSENTIAL CLASSES    ********/
.nodisplay { display: none; }



/**********  ELEMENTS   ****************/
.btn {
    cursor:pointer;
    background: #FDFDFD;
}